root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx,inl,inc,comp,yona,yonai,cmake}]
indent_style = space
indent_size = 2
tab_width = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2

[*.{json,jsonc,yaml,yml,md,mdc,js,mjs,ts,tsx,css,astro}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{ps1,psd1,psm1}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
