#!/usr/bin/make -f

export DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	cmake --preset x64-release-linux -DBUILD_TESTING=OFF -DYONA_FETCH_DEPS=OFF -DYONA_FETCH_LIBXML2=OFF -DYONA_LINK_STATIC_CLI=ON -DCMAKE_SKIP_BUILD_RPATH=ON

override_dh_auto_build:
	cmake --build --preset build-release-linux

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/yona cmake --install out/build/x64-release-linux --prefix /usr
	patchelf --remove-rpath $(CURDIR)/debian/yona/usr/bin/yonac
	patchelf --remove-rpath $(CURDIR)/debian/yona/usr/bin/yona
	patchelf --remove-rpath $(CURDIR)/debian/yona/usr/bin/yona-repl
	patchelf --remove-rpath $(CURDIR)/debian/yona/usr/bin/yls

override_dh_auto_test:
	# BUILD_TESTING=OFF; no doctest binary in the package build.
