#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	cmake --preset x64-release-linux -DBUILD_TESTING=OFF -DYONA_FETCH_DEPS=OFF -DYONA_FETCH_LIBXML2=OFF

override_dh_auto_build:
	cmake --build --preset build-release-linux

override_dh_auto_install:
	install -Dm755 out/build/x64-release-linux/yonac $(CURDIR)/debian/yona/usr/bin/yonac
	install -Dm755 out/build/x64-release-linux/yona $(CURDIR)/debian/yona/usr/bin/yona
	install -d $(CURDIR)/debian/yona/usr/lib/yona/lib/Std
	cp -a lib/Std/. $(CURDIR)/debian/yona/usr/lib/yona/lib/Std/
	install -d $(CURDIR)/debian/yona/usr/lib/yona/src/runtime/platform
	install -d $(CURDIR)/debian/yona/usr/lib/yona/include/yona/runtime
	install -d $(CURDIR)/debian/yona/usr/lib/yona/runtime
	if [ -d out/build/x64-release-linux/runtime ]; then \
		cp -a out/build/x64-release-linux/runtime/. $(CURDIR)/debian/yona/usr/lib/yona/runtime/; \
	fi
	install -Dm644 src/compiled_runtime.c $(CURDIR)/debian/yona/usr/lib/yona/src/
	cp -a src/runtime/. $(CURDIR)/debian/yona/usr/lib/yona/src/runtime/
	cp -a include/yona/runtime/. $(CURDIR)/debian/yona/usr/lib/yona/include/yona/runtime/

override_dh_auto_test:
	# BUILD_TESTING=OFF; no doctest binary in the package build.
